.container {
  margin: 0 auto;
  width: 320px;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
  background-color: rgb(185, 121, 177);
  border-color: #000;
}
.center {
  margin-left: 46%;
}
.whitee{
    color: white;
    text-align: center;
}
.tittle {
  color: white;
  text-align: center;

}
.timezone{
  text-align: center;
  color:rgb(255, 255, 255);
}
.button-container {
  padding: 20px;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.button {
  width: 50px;
  height: 50px;
  color: white;
  background-color: #000;
  border-radius: 10%;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(141, 140, 140);
}
.disabled {
  pointer-events: none;
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgb(128, 126, 126);
  border-radius: 10%;
  cursor: pointer;
}
section {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #d8b1d3;
}

.title-primary {
  font-size: 28px;
  margin: 10px 0;
}

.title-secondary {
  font-size: 20px;
}

input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 90%;
  padding-left: 5px;
}

textarea {
  resize: vertical;
}

.input-label {
  display: block;
  font-size: 20px;
  font-weight: 700;
  padding: 5%;
}

.list {
  list-style-type: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f3dbf1;
}

.strike-through {
  text-decoration: line-through;
}

