.container {
  margin: 0 auto;
  width: 320px;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
  background-color: rgb(185, 121, 177);
  border-color: #000;
}
.center {
  margin-left: 47%;
}
.whitee {
  color: white;
  text-align: center;
}
.tittle {
  color: white;
  text-align: center;
}
.timezone {
  text-align: center;
  color: rgb(255, 255, 255);
}
.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 15%;
}
button {
  background: transparent;
  box-sizing: border-box;
  border-radius: 10%;
  align-self: center;
  color: aliceblue;
  background-color: #791a6c;
  font-family: Pangolin;
  font-weight: bold;
  cursor: pointer;
}
.buttons {
  width: 50px;
  height: 20px;
  border-radius: 10%;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}
.buttons:hover {
  transition: 0.4s ease-in-out;
  background: #24011f;
  color: rgb(255, 255, 255);
}
.disabled {
  pointer-events: none;
  width: 50px;
  height: 20px;
  color: white;
  background-color: rgb(128, 126, 126);
  border-radius: 10%;
  cursor: pointer;
  text-align: center;
}

section {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #d8b1d3;
}
.w-container {
  height: 70px;
  width: 100%;
  color: #fff;
  background-color: #d387c9;
  text-align: center;
  padding-top: 12px;
  border-radius: 5px;
  border: 0.5px solid rgb(233, 216, 229);
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Ficon-library.com%2Ficon%2Fweather-icon-gif-5.html&psig=AOvVaw3rw3qf97oLnE3HlClJPxX8&ust=1653614549317000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCLjnkbKA_PcCFQAAAAAdAAAAABAb") !important;
  background-repeat: no-repeat;
  background-size: cover;
}
.Wether-title {
  margin-left: 20%;
  color: #fff;
}
#icon {
  margin-top: 10px;
  margin-left: 43%;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  box-shadow: 2.5px 2.5px 10px rgb(85, 209, 182);
}
.title-primary {
  font-size: 28px;
  margin: 10px 0;
}

.title-secondary {
  font-size: 20px;
}

.input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  width: 80%;
  padding-left: 5px;
}

textarea {
  resize: vertical;
}

.input-label {
  display: block;
  font-size: 20px;
  font-weight: 700;
  padding: 5%;
}

.list {
  list-style-type: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f3dbf1;
}

.strike-through {
  text-decoration: line-through;
}
.todo-container {
  min-height: 100px;
  overflow: hidden;
}
.todo-element {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  min-height: 30px;
  font-style: italic;
  font-weight: bold;
}
li {
  display: flex;
  padding: 3%;
}

li > p {
  flex: 0 0 70%;
  word-break: break-all;
}

li > input {
  flex: 0 0 15%;
}

li > i {
  flex: 0 0 15%;
}
li:hover {
  transition: ease-in 0.5s;
  box-shadow: inset 300px 0 0 0 rgb(85, 209, 182);
  cursor: pointer;
  color: rgb(11, 11, 15);
}
.todo-element:nth-child(1n + 2) {
  color: #fff;
  background: #94598f;
}
.todo-element:nth-child(2n + 1) {
  color: #fff;
  background: #da5ecf;
}
.todo-element:nth-child(3n + 1) {
  color: #fff;
  background: #da03c8;
}
.todo-element:nth-child(4n + 1) {
  color: #fff;
  background: #f775ec;
}
